*{
    font-family: Avenir, sans-serif;
    text-align: justify;
    width: 500px;
    color: black;
    height: 50%;
    font-size: x-large;
}

body{
    background: url("Naruto.jpeg") fixed no-repeat;
    background-size: cover;
    margin-left: 20em;
    margin-top: 12em;
}

label {
    margin-left: 140px;
    font-size: xx-large;
    font: bold;
    color: white;
}
select{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 18%, rgba(0,255,248,1) 49%, rgba(0,215,255,1) 71%, rgba(0,155,255,1) 92%);
    border-radius: 20px;
}

input{
    background: rgb(255,255,255);
    background: radial-gradient(circle, rgba(255,255,255,1) 18%, rgba(0,255,248,1) 49%, rgba(0,215,255,1) 71%, rgba(0,155,255,1) 92%);
    border-radius: 20px;
    text-align: center;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

input:hover {
    -webkit-transform:scale(1.15);
    transform:scale(1.15);
}

option {
    text-align: center;
}
